<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783347677318-l8399d82hud1277v1143ck881ifdcok7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783347677318-l8399d82hud1277v1143ck881ifdcok7</string>
	<key>API_KEY</key>
	<string>AIzaSyC0NeUySxJBkjFOwcMlSfJS6j0K_PlbqyU</string>
	<key>GCM_SENDER_ID</key>
	<string>783347677318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hangover</string>
	<key>PROJECT_ID</key>
	<string>hangover-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>hangover-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783347677318:ios:cb3bb78c3e4249e93cf907</string>
</dict>
</plist>